
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
   
    
    font-family: 'Titillium Web', sans-serif;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2 {
    font-size: 45px;
    font-family:fantasy;
    margin: 0;
}

h4 {
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

input {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.attempts {
    margin: 5px;
    background-color:peachpuff;
    border-radius: 7px;
}

content {
    width: 80%;
}

button {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.exit {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    background-color:peachpuff;
    border-radius: 7px;
    margin-top: 10px;
}